body {
    background: linear-gradient(pink 20%,lightblue 80%);
}
#sort {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#submit {
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    margin: 20px;
}